.parralax{
    background-image: linear-gradient(
            rgba(33, 39, 75, 0.8),
            rgba(13, 9, 78, 0.87)
    ),url("../img/image1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    color: white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;

}
.parralax2{
     background-image: linear-gradient(
             rgba(33, 39, 75, 0),
             rgba(13, 9, 78, 0)
     ),url("../img/peraImg2.jpg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
     height: 500px;
     color: white;
     text-align: center;
     font-family: 'Ubuntu', sans-serif;

 }
.parralax3{
    background-image: linear-gradient(
            rgba(33, 39, 75, 0),
            rgba(13, 9, 78, 0)
    ),url("../img/peraImg3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    color: white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;

}
#navBar{
    height: 100px;
    background-color: #052030;
    opacity: 0.8;
    display: none;

}
#navBar img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    opacity: 1;
}
#navbarImage{
    width: 150px;
    margin-right: 10px;
}
#navbardesignation{
    text-align: left;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    opacity: 0.8;
}
#navbardesignation h2{
    margin-bottom: 0px;
}
#navbardesignation h3{
    font-size: 20px;
    margin-top: 0px;
}

#contacts{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-align: left;
    opacity: 0.8;
}
.parralax img{
    margin-top: 150px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.parralax h3{
    margin-top: -10px;

}
.header_row{
    background: linear-gradient(
            rgba(19, 19, 19, 0.8),
            rgba(6, 4, 41, 0.73));
    text-align: center;
    margin-left: 20px;
    margin-top: 65px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.header_row a{
    color: white;
    font-size: 15px;
}
.header_row #linkedInPro:hover{
    text-decoration: none;
    color: #68df7a;
}

#myProfile{
    border-bottom: 2px solid #049079;
}
#name{
    color: #068764 ;
    margin-bottom: 0;
    margin-top: 50px;
    font-family: 'Ubuntu', sans-serif;
}
#designation{
    margin-top: 0;
    font-family: 'Ubuntu', sans-serif;
}
#description{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    margin-bottom: 30px;
}
#Skills{
    margin-top: 50px;
    font-family: 'Ubuntu', sans-serif;
    border-bottom: 2px solid #049079;
    margin-bottom: 30px;
}
.specSkill ul{
    list-style-type: none;
}
.specSkill ul li{
    margin-bottom: 12px;
}
#skillsLabel #projectsLabel{
    font-family: 'Ubuntu', sans-serif;
}
.skillList h4{
    font-size: 22px;
    color: #068764 ;
}
#htmlCanvas, #javaCanvas{

}

.col-md-4, .col-md-3, .col-md-6{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;

}
#skillJavaLabel, #skillCLabel, #skillCSharpLabel, #skillHtmlLabel, #skillCssLabel, #skillJsLabel, #skillAjaxLabel,
#skillMySqlLabel, #skillMongoDbLabel, #skillPhpLabel, #skillNodeJsLabel, #skillBootstrapLabel, #skillChartJsLabel  {
      font-size: 15px;
}
#skillJavaValue, #skillCValue, #skillCSharpValue, #skillHtmlValue, #skillCssValue, #skillJsValue, #skillAjaxValue,
#skillMySqlValue, #skillMongoDbValue, #skillPhpValue, #skillNodeJsValue, #skillBootstrapValue, #skillChartJsValue{
    font-size: 18px;
}
small{
    font-size:6px;
    opacity: 0.7;
}
.skillList{
    margin-bottom: 50px;
}
#Projects{
    margin-bottom: 50px;
    border-bottom: 2px solid #049079;
}
.oneProject, .oneSkill, .oneExperience{
    font-family: 'Ubuntu', sans-serif;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 50px;
    border-bottom: 2px solid rgba(255, 0, 0, .2);;

}
#extraSkills{
    border-bottom: 2px solid #049079;
}
.oneProject h4{
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 20px;
}
.oneProject h3{
    margin-bottom: 0px;
    margin-top: 0px;
}
.triangle-topleft {
    width: 0;
    height: 0;
    border-top: 30px solid   #68df7a  ;
    border-right: 30px solid transparent;
}
.oneProject p{
    font-size: 16px;
    margin-bottom: 0px;
}
.projectContetns ul li, .skillContetns ul li, .experienceContetns ul li{
    font-size: 18px;
    display: inline;
}
.projectContetns ul, .skillContetns ul, .experienceContetns ul{
    margin-left: -40px;
}

.projectContetns h4 .label{
    background-color:#da6a6a;
}
.imageArea{
    margin-bottom: 20px;
}
.skillContetns p, .experienceContetns p{
    font-size: 16px;
    width: 75%;
    float: left;
}
#logo{
    float: right;
}
#logo img{
    max-width: 250px;
    max-height: 250px;
}
.row .col-md-3 img{
    width: 250px;
    height: 150px;
}
.experienceContetns ul{
    width: 75%;
    float: left;
}
.footerArea{
     background-color: #323232;
     max-width:100%;
     color: white;

 }

.footerArea .details{
    width: 80%;
    margin: auto;
    text-align: left;
}
.footerArea #profiles{
     text-align: left;
 }
.footerArea #profiles h2 a{
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
    color: #2fb64b;
}
.footerArea #profiles h2 a:hover{
    text-decoration: none;
    color: #049079;
    font-size: 18px;
}
.footerArea #profiles .fa{
    font-size: 35px;
    color: white;
    padding-right: 5px;
}
#contactDetails h4{
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    margin-left: 25px;
    color:  #2fb64b ;
    margin-top: 0px;
    margin-bottom: 0px;

}
.footerArea #heading{
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    margin-left: 25px;

}
.footerArea h4, #number h3, #email h3{
    color:  #2fb64b ;
    font-size: 17px;
    text-align: left;
}
.footerArea h4{
    margin-bottom: 0px;
}
.footerArea .glyphicon{
    font-size: 18px;
    padding-right: 5px;
}
#goldenStatement{
    width: 100%;
    border-top: 2px solid #049079;
}
#goldenStatement h2{
    padding-top: 15px;
    padding-bottom: 30px;
    font-size: 22px;
    color: #28af65;
    width: 75%;
    margin: auto;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}